extends layout

block content
  h1= title
  .ui.green.button#create
    |   Create User
  br
  br
  .ui.blue.button#read
    |   Read User
  br
  br
  .ui.orange.button#update
    |   Update User
  br
  br
  .ui.red.button#destroy
    |   Destroy User